body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}


header {
    background-color: gray;
    padding:10px 20px 10px 6em;
    text-align: center;
    justify-content: center;
} 

header nav {
    text-align: center;
    display: flex;
    border:0;
    padding-left:2em;
}

li {
    padding-left: 3em;
}


ul {
    display: flex;
    padding: 2.5em;
}


main{
    text-align: center;

}



section :nth-child(1) {
    margin-top: 30px;

}


section :nth-child(2) {
    margin-top: 30px;
    margin-left: 26px;
    margin-right: 26px;

    text-align: center;
    justify-content: space-between;

}

section :nth-child(3) {
    justify-content: space-between;
    text-align: center;
}

section :nth-child(3) img {
    width: 380px;
    margin-top: 30px;
    display: inline;
    overflow: scroll;
} 

section :nth-child(3) article {
    width: 460px;

    flex-direction: column;
    overflow: scroll;
}


footer {
    background-color: gray;
    height: 100px;
}